In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:/code basis/py-master/ML/2_linear_reg_multivariate/homeprices.csv")

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].median())

In [7]:
df.isnull().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64

In [8]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Y = df['price']
X = df[['area' , 'bedrooms' , 'age']]

In [36]:
Xtrain , Xtest ,ytrain , ytest = train_test_split(X,Y,train_size = 0.7)

In [37]:
ytrain

4    760000
3    595000
0    550000
1    565000
Name: price, dtype: int64

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
reg = LinearRegression()

In [40]:
reg.fit(Xtrain,ytrain)

LinearRegression()

In [41]:
reg.predict([[2600,3,20]])

C:\Users\kisha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([550000.])

In [42]:
ypredict = reg.predict(Xtest)

In [43]:
from sklearn.metrics import mean_squared_error

In [44]:
accuracy = mean_squared_error(ytest ,ypredict)

In [45]:
accuracy

21820507812.499954